<p class="contacts">
  <a href="https://www.facebook.com/profile.php?id=100004363576572" target="_blank" class="facebook-contact">
    <i class="icon brands fa-facebook-f"></i>Ras Mikey I
  </a>
  <a href="https://www.facebook.com/harmonicsoundsystem" target="_blank" class="facebook-contact">
    <i class="icon brands fa-facebook-f"></i>Harmonic Soundsystem
  </a>
  <a href="https://t.me/rasmikey" target="_blank" class="telegram-contact">
    <i class="icon fa-paper-plane"></i>Ras Mikey I
  </a>
  <a href="https://t.me/dhoessl" target="_blank" class="telegram-contact">
    <i class="icon fa-paper-plane"></i>Bredda Dome
  </a>
</p>
